/** Google font **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

/** Global style **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;

}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('http://localhost/newlogin/pxfuel.jpg'); */
  background-image: url('http://localhost/ci_mmrc/assets/img/mmrc_bg.jpg');
  background-size: cover;
  z-index: -1;
  opacity: 0.7; 
}

h1.login{
  color: white;
}
h1.registration{
  color: white;
  margin-bottom: -10px;
}
.h1,h1{
  font-size: 1.5rem;
}
.form-box .form form input[type="text"],
.form-box .form form input[type="password"] {
  padding: 8px;
  margin-bottom: 4px;
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border for clarity */
  border-radius: 4px; /* Rounded corners */
  width: 100% 
}
.form-box .form form select,
.form-box .form form input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border for clarity */
  border-radius: 4px; /* Rounded corners */
  width: 100% 
}
body.active {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
}
.signInUp {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  background: rgba(255, 255, 255, 0.671);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.signInUp .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signInUp .box h1 {

  color: rgb(36, 36, 36);
  font-size: 30px;
  font-weight: 800 !important;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.signInUp .box p {
  color: rgb(36, 36, 36);
  font-size: 14px;
  font-weight: 500 !important;
  text-align: center;
  padding: 0px 25px;
  margin-bottom: 10px;
}
.signInUp .box h2 {
  color: rgb(36, 36, 36);
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.signInUp .box button {
  cursor: pointer;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #333;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.signInUp .box button:hover {
  cursor: pointer;
  padding: 8px 20px;
  background: linear-gradient(180deg, #D5C49E 0%, #FFCA60 100%);
  border: 1px solid #333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.form-box {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background: rgb(26, 26, 26);
  border-radius: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
}
.form-box .signinForm {
  transition-delay: 0.25s;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin:0;
}

.form-item {
  margin-bottom: 10px;
  flex: 1 0 48%;
}

.form-item input {
  width: calc(100% - 10px);
}

label {
  color: white;
  margin-right: 10px;
  flex: 0 0 30%;
}



#accountType,
#dateInitiated,
input[type="text"],
#dateInitiated,
#chapterText,
#memberChapter {
  width: calc(100% - 10px); 
}


/* Additional styling */
.form-box .form form input[type="text"],
.form-box .form form input[type="password"],
#accountType,
#dateInitiated {
  margin-left: 4px;
  width: 99%;
  padding: 6px;
  margin-bottom:9px;
}
.form-box .form form input[type="date"]{
  height: 43%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .form-item {
    flex: 1 0 100%;
  }
}

.form-box.active .signinForm {
  transition-delay: 0s;
  left: -100%;
}
.form-box .signupForm {
  left: 100% !important;
  transition-delay: 0s;
}
.form-box.active .signupForm {
  left: 0 !important;
  transition-delay: 0.25s;
}
.form-box.active {
  left: 50%;
}
.form-box .form {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}
.form-box .form img {
  width: 50%;
  margin-bottom: 10px;
}

/* input[type="text"],
#chapterText,
#memberChapter {
  width: calc(100% - 30px); 
} */
.form-box .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-box .form form h3 {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}
.form-box .form form .google {
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background: #db4437;
}
.form-box .form form .facebook {
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background: #3b5998;
}
.form-box .form form i {
  margin-right: 10px;
}
.form-box .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}


.form-box .form form input::placeholder {
  text-align: center;
}
.form-box .form form input[type="submit"] {
  background: transparent;
  margin-top: 10px;
  border: 1px solid #fff;
  color: #fff;
  max-width: 130px;
  cursor: pointer;
}
.form-box .form form input[type="submit"]:hover {
 color:black;
 background: linear-gradient(180deg, #D5C49E 0%, #FFCA60 100%);
}
.form-box.active .signupForm input[type="submit"] {
  background: transparent;
  border: 1px solid #fff;
}
.form-box .form form .forget {
  color: #fff;
}
.form-box .form form .forget:hover {
  color: #c9c349;
}
.form-box .signupForm.scrollable {
  overflow-y: hidden; /* Enable vertical scrolling */
  max-height: 100%; /* Adjust the max height for scrolling */
}


/** responsive **/
@media (max-width: 768px) {
  .container {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-box .form form input[type="text"], .form-box .form form input[type="password"], #accountType, #dateInitiated {
    margin-left: 4px;
    width: 100%;
    padding: 6px;
    margin-bottom: 9px;
}
  .form-box .signupForm.scrollable {
    overflow-y: scroll; /* Enable vertical scrolling */
    max-height: 100%; /* Adjust the max height for scrolling */
  }
  
  .container .signInUp {
    top: 0;
    height: 100%;
  }
  .form-box {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }


  .signInUp .box h1 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 40px;
  }
  .blueBg .box p {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .signInUp .box h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  /* .signInUp .box button {
    padding: 5px 20px;
    color: #333;
    font-size: 12px;
    margin-bottom: 30px;
  } */
  .signInUp .box {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 0;
    padding: 10px 0px 40px 0px;
  }
  .box.signin {
    top: 0;
  }
  .form-box.active {
    left: 0;
    top: 150px;
  }
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.password-container {
  position: relative;
}

#passwordField {
  padding-right: 30px; /* Ensure space for the icon */
}

.toggle-password {
  position: absolute;
  top: 40%; /* Adjust this value to center the icon vertically */
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}